/* .l-mid-container {
  height: 'auto';
  display: 'flex';
  flex-direction: 'column';
  color: 'red';
}  */

/* LAYOUT */
.main {
  display: flex;
  height: 100vh;
}


.l-container {
  flex-grow: 1;
}

.cont-title {
  letter-spacing: 1px;
  padding: 15px 15px 0 15px;
  font-size: 25px;
}

.cont-info {
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1em;
  padding: 1em;
}
.cont-btn-panel{
  display: flex;
  justify-content: space-between;
}

